<section class="section-header">
  <div class="pannel">
    <div class="main-title">
      Find Foodtrucks Easier than ever before!
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="span5 offset1">
        <h2>
          Trucks at a click
        </h2>
        <p class="info-text">
          Just click anywhere on the map to find nearby food trucks. Or, click the 'Current Location' button to find trucks near you right now!
        </p>
      </div>
      <div class="span5 offset1">
        <img src="/images/map.png" style="width: 380px;">
      </div>
    </div>
    <div class="row" style="margin-top:80px;">
      <div class="offset1 span5">
        <img src="/images/tooltip.png" style="width: 380px;">
      </div>
      <div class="span5 offset1">
        <h2>See what's available</h2>
        <p class="info-text">
          Hover over the name of a foodtruck to see what sorts of food they sell.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <a class="btn btn-giant btn-primary" ng-href='#/map'> Try It Now </a>
</section>



